/* INICIO GENERALES */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif                          ;
margin: 0;
padding: 0;
}
/* FIN GENERALES */

/* INICIO DIV-INICIAL */
.slider-cm {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.slider {
    position: relative;
    width: 100%;
    height: 340px;
}

.slider img {
    width: 100%;
    height: auto;
}

.titular1 {
    position: absolute;
    text-align: right;
    font-size: 80px;
    right: 0;
    margin-right: 60px;
    z-index: 11;
}

.nuestra-tienda {
    margin: 30px;
    padding: 10px;
}
#ntienda {
    text-decoration: none;
    color: black;
}
/* FIN DIV-INICIAL */

/* INICIO LINKS NAV */
header {
    display: flex;
    align-items: center;
background-color: orange;
margin: 0;
}


.logo {
    padding: 5px;
    width: 80px;
    height: 90px;
}

nav a {
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
}

.gral {
    text-decoration: none;
    color: black;
}

.gral:hover {
    color: white;
}
/* FIN LINKS NAV */

/* INICIO DERIVA-PRODUCTOS */
.deriva-productos {
    text-align: center;
}
.nuestras-sec {
    font-size: 24px;
    margin: 30px;
}
.derivadores {
    display: flex;
    justify-content: center;
}
#div-deriva {
    text-align: center;
    margin: 0 10px;
}
.derivaprod {
    padding: 20px;
    margin: 20px;
    display: block;
    text-decoration: none;
    color: #000000;
}

.derivaprod img {
    width: 180px;
    height: auto;
}
/* FIN DERIVA-PRODUCTOS */

/* INICIO FORMULARIO DE CONTACTO */
#contacto {
    height: 490px;
    width: 480px;
    background-color: orange;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    margin: 20px;
}

form {
    max-width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
  }

label {
    display: block;
    border-radius: 5px;
}

textarea {
    width: 100%;
    border-radius: 5px;
}

.send {
    border-radius: 5px;
    padding: 2px;
    background-color: white;
}

.send:hover {
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding: 2px;
    border-bottom: orange;
}
/* FIN FORMULARIO DE CONTACTO */

/* INICIO FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    height: 80px;
}

.foot-small {
    font-size: 8pt;    
}
/* FIN FOOTER */